<div class="esh-catalog_item">
    <div class="container">
        <h1 class="mb-4 mt-5">[ Item Details]</h1>
        <div class="u-background-brightest p-5">
            <article class="esh-catalog_item-titles row">
                <section class="col-3">Item ID</section>
                <section class="col-3">Name</section>
            </article>

            <article class="esh-catalog_item-items row">
                <section class="col-3">{{item.id}}</section>
                <section class="col-3">{{item.name}}</section>
            </article>

            <h2 class="esh-catalog_item-title mt-5">Description</h2>
            <div class="u-mb-5">{{item.description}}</div>

            <aside class="d-flex justify-content-end mt-5">
                <a class="btn btn-secondary" routerLink="/catalog">Back</a>
            </aside>
        </div>
    </div>
</div>
